.markdown-body {
  font-size: 18px;
  color: var(--text-primary);
  background: transparent;
}

.markdown-body a {
  color: inherit;
  border-bottom: 1px solid var(--text-primary);
}

.markdown-body a:hover {
  border-bottom: 2px solid var(--text-primary);
  text-decoration: unset;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: unset;
}

.markdown-body ul {
  padding-left: 1.5em;
}
.markdown-body ul > li::marker {
  content: '•  ';
}